@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'

*
    font-family: "Outfit"
.cont
    background-color: #0D192B
    height: 100vh

.NFTCard
    background-color: #14253D

.card-body
    border-bottom: 1px solid #2F415B
.card-title
    color: white

.card-text
    color: #a6bbd8
    font-size: 18px

.ethereum
    color: #00FFF7

.clock
    color: #a6bbd8
    
.creator, .name
    font-size: 18ççpx
.creator
    color: #a6bbd8

.name
    color: white




